@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary antialiased overflow-x-hidden;
    font-feature-settings: "cv11", "ss01";
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium transition-all duration-200 active:scale-95;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-opacity-90 shadow-lg shadow-primary/30;
  }

  .card {
    @apply bg-surface rounded-2xl shadow-sm border border-slate-100 p-4;
  }
}